bin/apps

nvim/autoload
nvim/backups
nvim/.netrwhist
nvim/plugged
nvim/undos

coc/extensions/
!coc/extensions/package.json
!coc/extensions/yarn.lock

fonts
fonts-powerline

tmux/plugins
tmux/resurrect
tmux/.tmux

zsh/plugins
zsh/.zshenv
nginx-lives.conf

