bin/apps

nvim/autoload
nvim/backups
nvim/.netrwhist
nvim/plugged
nvim/undos

coc/extensions/node_modules
coc/extensions/db.json

fonts
fonts-powerline

tmux/plugins
tmux/resurrect
tmux/.tmux

zsh/plugins
zsh/.zshenv
nginx-lives.conf
coc/extensions/coc-rust-analyzer-data
